<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .content-indent {
            text-indent: 20px;
        }

        .contact-title {
            font-weight: bold;
            color: rgb(0, 0, 255)
        }

        .contact-content {
            color: rgb(0, 0, 255);
        }
    </style>
    <title>Reset Password Email</title>
</head>

<body>
    <div class="content-indent">
        Thân gửi {Tên người dùng},
    </div>
    <br />
    <div class="content-indent">
        Chúng tôi nhận được yêu cầu reset mật khẩu từ bạn. Vui lòng sử dụng đường link dưới đây để thiết lập lại mật khẩu của bạn:
    </div>
    <br />
    <div class="content-indent">
        Link reset mật khẩu: [Đường link reset mật khẩu của bạn]
    </div>
    <br />
    <div class="content-indent">
        Nếu bạn không yêu cầu reset mật khẩu, vui lòng bỏ qua email này.
    </div>
    <br />
    <div class="content-indent">
        Đừng ngần ngại liên hệ chúng tôi nếu bạn cần trợ giúp hoặc có bất kỳ câu hỏi nào.
    </div>
    <br />
    <div class="content-indent">
        Trân trọng,
    </div>
    <br />
    <div class="content-indent">
        Ban Quản trị (Ví dụ: Đội ngũ quản trị iST)
    </div>
    <div>
        <br />
        <div>--</div>
        <br />
        <div class="contact-title">
            Văn phòng Viện IST
        </div>
        <br />
        <div class="contact-content">
            Đại học Bách Khoa Thành phố Hồ Chí Minh - ĐHQG-HCM
        </div>
        <div class="contact-content">
            Văn phòng Viện IST, Tầng 5, Tòa nhà C6, 268 Lý Thường Kiệt, Phường 14, Quận 10, Thành phố Hồ Chí Minh.
        </div>
        <div class="contact-content">
            Điện thoại: (Ví dụ: 0283.8 647 256 - Ext: 5211)
        </div>
        <div class="contact-content">
            Các phương pháp liên hệ khác: (Ví dụ: Trang web: www.ctct.hcmut.edu.vn)
        </div>
    </div>
</body>

</html>
