<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
        .content-indent {
            text-indent: 20px;
        }

        .contact-title {
            font-weight: bold;
            color: rgb(0, 0, 255)
        }

        .contact-content {
            color: rgb(0, 0, 255);
        }
    </style>
        <title>Reset Password Email</title>
    </head>

    <body>
        <div class="content-indent">
            Dear {Username},
        </div>
        <br />
        <div class="content-indent">
            We have received a request to reset your password. Please use the
            link below to reset your password:
        </div>
        <br />
        <div class="content-indent">
            Reset Password Link: [Your Password Reset Link]
        </div>
        <br />
        <div class="content-indent">
            If you did not request a password reset, please ignore this email.
        </div>
        <br />
        <div class="content-indent">
            Feel free to contact us if you need assistance or have any
            questions.
        </div>
        <br />
        <div class="content-indent">
            Best regards,
        </div>
        <br />
        <div class="content-indent">
            Admin Team (Example: IST Admin Team)
        </div>
        <div>
            <br />
            <div>--</div>
            <br />
            <div class="contact-title">
                IST Institute Office
            </div>
            <br />
            <div class="contact-content">
                Ho Chi Minh City University of Technology - VNU HCM
            </div>
            <div class="contact-content">
                IST Institute Office, 5th Floor, Building C6, 268 Ly Thuong Kiet
                Street, Ward 14, District 10, Ho Chi Minh City.
            </div>
            <div class="contact-content">
                Tel: (Example: 0283.8 647 256 - Ext: 5211)
            </div>
            <div class="contact-content">
                Other contact methods: (Example: Web: www.ctct.hcmut.edu.vn)
            </div>
        </div>
    </body>

</html>
