<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .content-indent {
                text-indent: 20px;
            }
            .contact-title {
                font-weight: bold;
                color: rgb(0,0,255)
            }
            .contact-content {
                color: rgb(0,0,255);
            }
        </style>
        <title>Letter confirming laboratory use</title>
    </head>
    <body>
        </p>Dear {{ .Name }}, <br/>
        <br/>
        I hope this email finds you well. We would like to confirm your recent reservation <br /> 
        for the use of Lab Room <b>{{ .RoomNumber }}</b> on <b>{{ .Date }}</b> at <b>{{ .Time }}</b>. <br/>
        We appreciate your interest in utilizing our facilities and are pleased to accommodate your request.
        <br/>
        <br/>
            Here are the details of your reservation:
            <br/>
            <br/>
            Lab Room: <b>{{ .RoomNumber }}</b> <br/>
            Date: <b>{{ .StartTime }}</b> to <b>{{ .EndTime }}</b> <br/>
            Time: <b>{{ .Time }}</b> <br/>
            <br/>
            Please ensure that you adhere to the scheduled time to avoid any conflicts with other users.<br/> 
            Additionally, kindly review and comply with the lab's usage guidelines and safety protocols <br/> provided during your orientation.
            <br/>
            <br/>   
            If you have any specific requirements or need additional assistance, <br/>
            please do not hesitate to contact our lab coordinator at {{ .Email }}.
            <br/>
            <br/>
            Thank you for choosing our lab facilities. We look forward to your successful and productive <br/>
            session in Lab Room {{ .RoomNumber }}.
        </p>
        
        Best regards,
        
        {{ .FullName }}
        {{ .Position }}
        {{ .Information }}
        <div>
            <br />
            <div class>--</div>
            <br />
            <div class="contact-title">
                IST Institute Office
            </div>
            <br />
            <div class="contact-content">
                Ho Chi Minh City University of Technology - VNU HCM
            </div>
            <div class="contact-content">
                IST Institute Office, 5th Floor, Building C6, 268 Ly Thuong Kiet
                Street, Ward 14, District 10, Ho Chi Minh City.
            </div>
            <div class="contact-content">
                Tel: (Example: 0283.8 647 256 - Ext: 5211)
            </div>
            <div class="contact-content">
                Other contact methods: (Example: Web: www.ctct.hcmut.edu.vn)
            </div>
        </div>
    </body>
</html>